[submodule "kaki"]
	path = kaki
	url = https://codeberg.org/kalamado/kaki.git
[submodule "file-indexer-documentation"]
	path = file-indexer-documentation
	url = https://codeberg.org/kalamado/file-indexer-documentation.git
