html {
	width: 100vw;
	font-size: 1.15rem;
}

#colouredName {
	width: 90vw;
	display: flex;
	flex-wrap: wrap;
}

#actionsMenu {
	width: fit-content;
	margin: auto;
	padding: 0.8rem;
	margin-bottom: 3vh;
	border-style: dotted;
	border-width: 0.2rem;
	border-color: Orange;
	border-radius: 0.5rem;
}

#configSection {
}

.characterDiv {
	width: 6rem;
	height: 6rem;
	margin: 0.5rem;
	border-color: Orange;
	border-style: solid;
	border-radius: 5%;
	text-align: center;
	font-size: 4rem;
}

